/*
 * Custom CSS
 */
img { max-width: 80%; }

.red { color : red; }

label.error {
	color: #F00;
	font-weight: bold;
}

input.error, select.error, textarea.error {
	border: 1px red solid;
}

section {
	background-color: #b0c4de;
 }